* {
    box-sizing: border-box;
}
body{
    background: #F3F3F3;
    position: relative;
}

header{
    position: fixed;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
    
}
main{
    z-index: 0;
}
footer{
    position: fixed;
    width: 100%;
    height: 80px;
    left: 0px;
    bottom: 0px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 106px;
    height: auto;
    width: auto;
    margin-bottom: 90px;
}

.entrou{
    display: flex;
    background-color: #DCDCDC;
    width: 100%;
    margin-top: 5px;
    
}

.mensagem-publica {
    margin-top: 5px;
    display: flex;
    background-color: #FFFFFF;
    width: 100%;
}

.horario{
    margin-left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;         
    color: #AAAAAA;
}

.mensagem-reservada {
    margin-top: 5px;
    display: flex;
    background-color: #FFDEDE;
    width: 100%;
}

.nome, .nome2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color:#000000;
}

.entrada ,.mensagem-direta-publica, .mensagem-direta-publica2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.horario, .nome, .entrada, .mensagem-direta-publica, .mensagem-direta-publica2, .nome2{
    margin-right: 10px;
}

.texto{
    margin: 17px;
}

.texto input{
    
    width: 145px;
    height: 30px;
    left: 17px;
    top: 612px;
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #000000;
}

.icon-footer {
    font-size: 35px;
    margin: 20px;
}

.icone{
    font-size: 42px;
    margin-right: 20px;
}

.logo img{
    position: absolute;
    width: 75px;
    height: 53px;
    left: 22px;
    top: 16px;
}


/* pagina inicial */


.inicial {
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.inicial  img {
    position: absolute;    
    width: 130px;
    height: 92px;
    top: 120px;
    
}

.inicial input {
    position: absolute;
    width: 261px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    box-sizing: border-box;
    border-radius: 4px;
    top: 450px;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #AEAEAE;
    
}

.inicial button {
    position: absolute;
    width: 109px;
    height: 45px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #696969;
    justify-content: center;
    border: none;
    border-radius: 10px;
    top: 600px;
}

/* nav bar lateral */

.barra-lateral {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    top: 0px;
    left: 0px;
    display: flex;
    
    
    
}

.nav-lateral{
    position: fixed;
    width: 70vw;
    height: 100vh;
    background-color: rgba(226, 243, 166, 0.486);
    top: 0px;
    right: 0px;
    overflow-y: scroll;
    
}

.blackout{
    position: fixed;
    width: 30vw;
    height: 100vh;
    background-color:#0000005d;
    opacity: 50%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.titulo-nav, .titulo-nav2  {
    width: 100%;
    height: 0 auto;
    text-align: center;
    padding: 20px;
    
}


.box-todos{
    display: flex;
    align-items: center;
    justify-content: start;
}


.icone-todos{
    margin: 10px 10px;
    font-size: 30px;
   
}

.icone-sair{
    position: fixed;
    font-size: 30px;
    bottom: 0px;
    right: 0px;
    
}
.titulo-todos{ 
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 5px;
        
}

.hidden {
    display: none;
}